body {
  font-family:proxima nova;
  text-align: left;
  border:2px solid red;
  border-radius:20px;
   }

h1 {
  color:blue;
  font-weight:bold;
  background-color:white;
  padding:10px 20px 10px 20px;
  border:2px solid green;
  margin:20px 20px 10px 20px;
   }

h2 {
  color:red;
  font-weight:bold;
  padding:10px 20px 10px 20px;
  border:2px solid green;
  margin:20px 30px 10px 30px;
   }

  p {
   color: black;
   font-size:16px
   text-indent:1cm;
   padding:10px 20px 5px 20px;
   }

ol {
  color:black;
  background-color:#42f468;
  border:2px solid green;
  margin:10px 20px 10px 30px
  padding:20px 40px 20px 20px;
  border-radius:30px;
   }
